* {
  padding: 0;
  margin: 0;
}

.counter {
  margin: 10px auto;
  border: solid 3px;
  width: 50px;
  padding: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 50px;
}

.container {
  width: 60%;
  height: 60%;
  margin: auto;
  width: 60%;
  height: 250px;
  background-color: #f3f3f3;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid black;
  position: relative;
}

.box {
  width: 30px;
  height: 30px;
  background-color: rgb(55, 187, 169);
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  padding: 15px;
  position: absolute;
}

.info {
  margin: 50px auto;
  width: 60%;
  height: 100px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 50px;
  font-size: 25px;
  font-weight: 100;
}

.disappear {
  background-color: #f3f3f3;
  color: #f3f3f3;
}

.menue {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.restart,
.main {
  margin: 20px;
}

.score {
  display: flex;
  justify-content: center;
}

.maxScore,
.currentScore {
  border: solid 2px;
  margin: 3px;
  border-radius: 5px;
  padding: 10px;
}
